<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Calculator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0421B6011EC363FE0008B9DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0421B6151EC363FF0008B9DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0421B6201EC363FF0008B9DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
